section {
  background-color: rgb(128, 144, 150);
  .auth {
    min-height: 100vh;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    .card {
      background-color: #fafafa;
      padding: 2rem;
    }
  }
  .p-card .p-component {
    border-radius: 10px !important;
  }
}
