<section id="access">
  <div class="auth">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4"></div>
        <div class="col-md-5 col-lg-4">
          <p-card>
            <div class="mb-2">
              <span class="p-float-label">
                <input id="email" type="email" pInputText>
                <label for="email">E-mail</label>
              </span>
            </div>
            <div class="mb-3">
              <span class="p-float-label">
                <input id="password" type="password" pInputText>
                <label for="password">Senha</label>
              </span>
            </div>
            <div class="mb-2">
              <button pButton type="button" label="Acessar" class="w-100"></button>
            </div>
            <div class="text-center">
              <button pButton type="button" label="Esqueci minha senha" class="p-button-text"></button>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</section>
