main {
  position: relative;
  overflow: none;
  .section {
    padding-top: 0px;
    z-index: -1;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: #fafafa;
    .sidebar{
      background-color: #1f2d40;
      min-height: 100vh;
      transition: all 0.15s;
      -webkit-transition: all 0.15s;
    }
    .painel {
      padding: 60px 1rem 0rem 2rem;
      height: 100vh;
    }
  }
  .all { width: 17%; }
  .short { width: 5%; }
  .all2 { width: 83%; }
  .short2 { width: 95%; }
}
