<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-6">
      <p-card header="Criar URL">
        <div class="p-inputgroup">
          <input type="email" pInputText placeholder="URL">
          <span class="p-inputgroup-addon pointer">
            <i class="pi pi-send"></i>
          </span>
        </div>
        <div class="url mt-4">
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
        </div>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card header="Por Mês">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
      </p-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p-card header="Criar URL">
        <div class="p-inputgroup">
          <input type="email" pInputText placeholder="URL">
          <span class="p-inputgroup-addon pointer">
            <i class="pi pi-send"></i>
          </span>
        </div>
        <div class="url mt-4">
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
          <p class="text">
            https://cndor.com/23me
            <span class="float-right">
              <i class="pi pi-paperclip"></i>
            </span>
          </p>
        </div>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card header="Por Mês">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
      </p-card>
    </div>
  </div>
</div>
