.pointer {
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #fff, $alpha: .20);
  }
}

td {
  a {
    text-decoration: none !important;
  }
}


@keyframes p-progress-spinner-color {
  100%,
  0% { stroke: #d62d20; }
  40% { stroke: #0057e7; }
  66% { stroke: #008744; }
  80%,
  90% { stroke: #ffa700; }
}

